In [1]:
import pandas
dt = pandas.read_csv('C:/Users/Pooja/Desktop/ml/flavour.csv')
dt

    Age  Gender             Flavour
0     6    Male           Chocolate
1     6  Female          Strawberry
2     7    Male           Chocolate
3     8  Female          Strawberry
4    11    Male        Butterscotch
5    10  Female        Butterscotch
6    12    Male        Butterscotch
7    14  Female             Vanilla
8    15    Male               Mango
9    15  Female             Vanilla
10   17    Male               Mango
11   16  Female        Butterscotch
12   19    Male  Almond & Chocolate
13   18  Female        Butterscotch
14   20    Male  Almond & Chocolate
15   20  Female        Butterscotch
16   21    Male               Coffe
17   22  Female               Coffe
18   24    Male  Almond & Chocolate
19   24  Female               Coffe

In [2]:
dt['Age'].max()-dt['Age'].min()

18

In [3]:
len(dt['Age'])

20

In [4]:
from sklearn.preprocessing import LabelEncoder
Enc = LabelEncoder()
Enc.fit(['Male', 'Female'])

LabelEncoder()

In [5]:
dt['Gender'] = Enc.transform(dt['Gender'])

In [6]:
X = dt.drop(columns=['Flavour'])
y = dt.drop(columns=['Age', 'Gender'])

In [7]:
from sklearn.tree import DecisionTreeClassifier
CModel = DecisionTreeClassifier()
CModel.fit(X, y)

DecisionTreeClassifier()

In [8]:
age = 18
gender = Enc.transform(['Male'])
CModel.predict([ [age, gender] ])

C:\Users\Pooja\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Mango'], dtype=object)

In [9]:
def flav_pred():
    age = int(input('Age:'))
    gen = input('Gender:').capitalize()
    gender = Enc.transform([gen])
    flav = CModel.predict([[age, gender]])
    print('Recommended Flavour:', flav[0])

In [10]:
flav_pred()

Age:21
Gender:Male
Recommended Flavour: Coffe

C:\Users\Pooja\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(